body {
    background: #050505 url("https://media.giphy.com/media/MPbLYRdJzLKa4/giphy.gif") repeat;
  }
  .credits {
    padding: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.7);
  }
  .credits a {
    color: #ff8866;
    line-height: 1.5em;
  }
  .credits a:hover {color: #eee;}
  
  .system-wrapper {
    position: relative;
    max-width: 800px;
    min-height: 800px;
    margin: 0 auto;
    padding-top: 400px;
  }
  .system-wrapper h2 {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    text-align: center;
    color: #92cc25;
    font-weight: 900;
    font-size: 1.5em;
    font-family: Tahoma, arial, sans-serif;
    text-transform: uppercase;
  }
  
  .system-wrapper .sun {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
    background: url("https://www.caminteresse.fr/content/uploads/2017/11/soleil.gif") no-repeat center;
    background-size: 236px;
    border-radius: 50%;
    box-shadow: 0 0 18px 6px rgba(255,250,150,1), 0 0 36px 12px rgba(255,180,0,1), 0 0 300px 100px rgba(255,200,0, 0.4), 0 0 200px 200px rgba(0,0,0,1), 0 0 500px 500px rgba(0,46,0,0.7);
  }
  
  .system-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 40px 6px rgba(0, 0, 0, .8);
         -moz-box-shadow: 0 0 40px 6px rgba(0, 0, 0, .8);
            -ms-box-shadow: 0 0 40px 6px rgba(0, 0, 0, .8);
             -o-box-shadow: 0 0 40px 6px rgba(0, 0, 0, .8);
                  box-shadow: 0 0 40px 6px rgba(0, 0, 0, .8);
    
  }
  .system-wrapper img:hover {
    -webkit-transition: all .2s ease-in-out 0s;
       -moz-transition: all .2s ease-in-out 0s;
          -ms-transition: all .2s ease-in-out 0s;
           -o-transition: all .2s ease-in-out 0s;
                transition: all .2s ease-in-out 0s;
    box-shadow: 0 0 6px 3px rgba(255,255,255,1), 0 0 40px 6px rgba(0, 0, 0, .8);
  }
  
  .system-wrapper .mercury {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    margin-left: -15px;
    -webkit-animation: mercury 8.8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: mercury 8.8s linear infinite; /* Firefox 5-15 */
         -o-animation: mercury 8.8s linear infinite; /* Opera 12+ */
            animation: mercury 8.8s linear infinite;
  }
  
  .system-wrapper .venus {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: venus 22.5s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: venus 22.5s linear infinite; /* Firefox 5-15 */
         -o-animation: venus 22.5s linear infinite; /* Opera 12+ */
            animation: venus 22.5s linear infinite;
  }
  
  .system-wrapper .earth {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-animation: earth 36.5s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: earth 36.5s linear infinite; /* Firefox 5-15 */
         -o-animation: earth 36.5s linear infinite; /* Opera 12+ */
            animation: earth 36.5s linear infinite;
  }
  
  .system-wrapper .mars {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: mars 68.7s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: mars 68.7s linear infinite; /* Firefox 5-15 */
         -o-animation: mars 68.7s linear infinite; /* Opera 12+ */
            animation: mars 68.7s linear infinite;
  }
  
  /* -- Mercury Orbit */
  @-webkit-keyframes mercury {
      from { -webkit-transform: rotate(-90deg) translateX(120px) rotate(0deg); }
      to   { -webkit-transform: rotate(270deg) translateX(120px) rotate(-360deg); }
  }
  @-moz-keyframes mercury {
      from { -moz-transform: rotate(-90deg) translateX(120px) rotate(0deg); }
      to   { -moz-transform: rotate(270deg) translateX(120px) rotate(-360deg); }
  }
  @-o-keyframes mercury {
      from { -o-transform: rotate(-90deg) translateX(120px) rotate(0deg); }
      to   { -o-transform: rotate(270deg) translateX(120px) rotate(-360deg); }
  }
  @keyframes mercury {
      from { transform: rotate(-90deg) translateX(120px) rotate(0deg); }
      to   { transform: rotate(270deg) translateX(120px) rotate(-360deg); }
  }
  
  /* -- Venus Orbit */
  @-webkit-keyframes venus {
      from { -webkit-transform: rotate(-90deg) translateX(220px) rotate(0deg); }
      to   { -webkit-transform: rotate(270deg) translateX(220px) rotate(-360deg); }
  }
  @-moz-keyframes venus {
      from { -moz-transform: rotate(-90deg) translateX(220px) rotate(0deg); }
      to   { -moz-transform: rotate(270deg) translateX(220px) rotate(-360deg); }
  }
  @-o-keyframes venus {
      from { -o-transform: rotate(-90deg) translateX(220px) rotate(0deg); }
      to   { -o-transform: rotate(270deg) translateX(220px) rotate(-360deg); }
  }
  @keyframes venus {
      from { transform: rotate(-90deg) translateX(220px) rotate(0deg); }
      to   { transform: rotate(270deg) translateX(220px) rotate(-360deg); }
  }
  
  /* -- Earth Orbit */
  @-webkit-keyframes earth {
      from { -webkit-transform: rotate(-90deg) translateX(320px); }
      to   { -webkit-transform: rotate(270deg) translateX(320px); }
  }
  @-moz-keyframes earth {
      from { -moz-transform: rotate(-90deg) translateX(320px); }
      to   { -moz-transform: rotate(270deg) translateX(320px); }
  }
  @-o-keyframes earth {
      from { -o-transform: rotate(-90deg) translateX(320px); }
      to   { -o-transform: rotate(270deg) translateX(320px); }
  }
  @keyframes earth {
      from { transform: rotate(-90deg) translateX(320px);}
      to   { transform: rotate(270deg) translateX(320px);}
  }
  
  /* -- Mars Orbit */
  @-webkit-keyframes mars {
      from { -webkit-transform: rotate(-90deg) translateX(450px) rotate(0deg); }
      to   { -webkit-transform: rotate(270deg) translateX(450px) rotate(-360deg); }
  }
  @-moz-keyframes mars {
      from { -moz-transform: rotate(-90deg) translateX(450px) rotate(0deg); }
      to   { -moz-transform: rotate(270deg) translateX(450px) rotate(-360deg); }
  }
  @-o-keyframes mars {
      from { -o-transform: rotate(-90deg) translateX(450px) rotate(0deg); }
      to   { -o-transform: rotate(270deg) translateX(450px) rotate(-360deg); }
  }
  @keyframes mars {
      from { transform: rotate(-90deg) translateX(450px) rotate(0deg); }
      to   { transform: rotate(270deg) translateX(450px) rotate(-360deg); }
  }